
.section__new {
	//max-width: 400px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	.forgot_pass_btn {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0.4;
		color: #000;
		font-size: 14px;
		line-height: 20px;
		transition: all, .3s;
		
		&:hover {
			opacity: 1;
		}
	}
	.content {
		color: #000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.form-buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;
			align-content: stretch;
		}
		.yolo-enter-button {
			margin-left: 5px;
			//height: 45px;
			color: #fff;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.58px;
			width: calc(50% - 5px);
		}
		.link_btn {
			text-align: center;
			margin-right: 5px;
			//height: 45px;
			//line-height: 45px;
			//background-color: #2b5592;
			display: inline-block;
			vertical-align: top;
			width: calc(50% - 5px);
			a {
				display: block;
				color: #fff;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.58px;
				transition: all, .3s;
				&:hover {
					color: #ffffff;
				}
			}
		}
		.text_info {
			padding-bottom: 25px;
			b {
				color: #272727;
				font-size: 26px;
				font-weight: 400;
				display: block;
			}
			p {
				opacity: 0.3;
				color: #272727;
				font-size: 18px;
				font-weight: 400;
			}
			.slogan {
				opacity: 0.74;
				color: #000;
				font-size: 16px;
				line-height: 23px;
				margin: 24px 0 16px 0;
			}
		}
	
		.wrap_check {
			position: relative;
			label {
				cursor: pointer;
				display: inline-block;
				position: relative;
				margin-left: 7px;
				height: 16px;
				width: 18px;
				margin-bottom: 24px;
				vertical-align: top;
			}
			p{
				display: inline-block;
				vertical-align: top;
			}
		}
		
		input {
			border: 1px solid #eee;
			height: 40px;
			padding: 0 10px;
			line-height: 40px;
			font-size: 14px;
			width: 100%;
			&::placeholder {
				color: #ffffff;
			}
			&:focus {
				outline: none;
			}
		}
	}
}

span.error {
	color: #dc0000 !important;
}

.note {
	text-align: center;
	margin-top: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	i {
		margin-left: 10px;
	}
}

.section__new {
	.content {
		max-width: 400px;
	}
	.content-show {
		opacity: 1;
		transition: .8s;
		transform: translate(-50%, -50%) scale(1);
	}
	.content-hide {
		transition: .5s;
		opacity: 0;
		transform: translate(-50%, -50%) scale(.95);
	}
}

header {
	&.load_content {
		transition: .8s;
		opacity: 0;
		&.load_show {
			opacity: 1;
		}
	}
}

.yolo-background-wrapper {
	z-index: 0;
	.yolo-background {
		z-index: 0;
	}
	.bg {
		position: absolute;
		transform: rotate(45deg);
		border-radius: 200px;
		//background-color: rgba(183, 183, 183, 0.1);
		
		z-index: 1;
		transform-origin: 50% 50%;
		&.bg-1 {
			width: 1119px;
			height: 1135px;
			top: -50%;
			left: -15%;
			animation: bg-1 30s infinite alternate;
			background: linear-gradient(0deg, #1f5697 0%, #0e7fd8 100%);
		}
		&.bg-2 {
			width: 2270px;
			height: 1135px;
			bottom: -158%;
			right: -80%;
			animation: bg-2 25s infinite alternate;
			background: linear-gradient(-90deg, rgba(31, 86, 151, 0.56) 0%, rgba(14, 127, 216, 0.5) 100%);
		}
	}
}





.burger {
	position: absolute;
	right: 18px;
	top: 16px;
	z-index: 1000;
	user-select: none;
	cursor: pointer;
	transition: all, .3s;
	transition-delay: .3s;
	display: none;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	
	.row {
		transition: all, .3s;
		
	}
	.open-menu & {
		border-color: transparent;
		.burger_s {
			.row {
				&.row-1 {
					span {
						&.line-1 {
							transform: translate(2px, 2px) translateZ(0) rotate(45deg) rotateZ(0deg);
						}
						&.line-2 {
							transform: translate(-2px, 2px) translateZ(0) rotate(-45deg) rotateZ(0deg);
						}
					}
				}
				&.row-2 {
					span {
						opacity: 0;
						&.line-1 {
							transform: translate(100%, 0) translateZ(0);
						}
						&.line-2 {
							transform: translate(-100%, 0) translateZ(0);
						}
					}
				}
				&.row-3 {
					
					span {
						&.line-1 {
							transform: translate(2px, -1px) translateZ(0) rotate(-45deg) rotateZ(0deg);
						}
						&.line-2 {
							transform: translate(-2px, -1px) translateZ(0) rotate(45deg) rotateZ(0deg);
						}
					}
				}
			}
		}
	}
	.burger_s {
		width: 50px;
		height: 48px;
		.row {
			position: absolute;
			left: 16px;
			right: 0;
			height: 2px;
			overflow: hidden;
			width: 20px;
			.line-1 {
				border-radius: 3px 0 0 3px;
			}
			.line-2 {
				border-radius: 0 3px 3px 0;
			}
			.open-menu & {
				overflow: visible;
			}
			&.row-1 {
				top: 16px;
				
				.open-menu & {
					top: 19px;
					
				}
			}
			&.row-2 {
				top: 23px;
				
			}
			&.row-3 {
				bottom: 16px;
				
				.open-menu & {
					bottom: 18px;
					
				}
			}
			
		}
		span {
			background-color: #ffffff;
			width: 10px;
			height: 2px;
			display: inline-block;
			vertical-align: top;
			transition: all, .3s;
		}
	}
}

.section_auth {
	.content {
		transform-origin: 50%;
		transition: all, 1s;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		&.content-show {
			display: block;
			opacity: 1;
			visibility: visible;
		}
		&.forgot_pass {
			//transform: translate(0, 70%);
			&.content-show {
				//transform: translate(0, -50%);
			}
			&.content-hide {
				opacity: 0;
				visibility: hidden;
				transition: .5s;
				//transform: translate(0, -70%);
			}
		}
		&.signup {
			&.content-hide {
				//transform: translate(0, -70%);
				
				opacity: 0;
				visibility: hidden;
				transition: .5s;
			}
		}
		&.landing {
			&.content-hide {
				
				opacity: 0;
				visibility: hidden;
				transition: .5s;
				//transform: translate(0, 70%);
			}
		}
		&.login {
			&.content-hide {
				//transform: translate(0, -70%);
				transition: .5s;
				opacity: 0;
				visibility: hidden;
			}
		}
		
	}
}

.get_app_input_errors {
	color: #a94442;
	font-size: 13px;
	padding-top: 2px;
}

.new_input {
	position: relative;
	padding-bottom: 22px;
	.input {
		position: relative;
		z-index: 1;
		display: inline-block;
		max-width: 100%;
		width: 100%;
		vertical-align: top;
		
	}
	.input__field {
		position: relative;
		display: block;
		float: right;
		padding: 0.8em;
		width: 60%;
		border: none;
		border-radius: 0;
		color: #000000;
		font-weight: 400;
		
		-webkit-appearance: none;
	}
	
	.input__field:focus {
		outline: none;
	}
	
	.input__label {
		display: block;
		color: #272727;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.33px;
		
	}
	
	.input__label-content {
		position: relative;
		display: block;
		width: 100%;
	}
	
	.graphic {
		position: absolute;
		top: 0;
		left: 0;
		fill: none;
	}
	
	.icon {
		color: #ddd;
		font-size: 150%;
	}
}
